*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    border: solid black 1px;
    margin-bottom: 1;
    /* top,right,bottom,left*/
    /* left: 200px */
}

.fixo{
    position: fixed;
    bottom: 0px;
    left: 15%;
    
}

.sticky{
    position: sticky;
    top: 5px;
}

.nome{
    background-color: white;
    height: 5vh;
    /* width: 100%; */
    display: inline-block;
    border: solid 2px;
    margin: 45px;
    padding: 0 45px;
    border-radius: 50%;
    box-shadow: 10px 10px 13px 0px  black;
    text-align: center;

}

.vermelho{
    background-color: rgb(255, 6, 6);
    height: 20vh;
}

.azul{
    background-color: rgb(25, 0, 255);
    height: 80vh;
    width: 15%;
}

.laranja{
    background-color: rgb(255, 196, 0);
    height: 15vh;
    width: 85%;
}

.amarelo{
    background-color: yellow;
    height: 80vh;
    width: 85%;
}
