*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.sp1{
    border: solid 1px rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    display: block;
    height: 50px;
}

.dvpai{
    background-color: rgb(255, 255, 0);
    height: 250px;
    width: 250px;
    margin-top: 50px;
    padding: 15px;
    display: inline-block;
}

.laranja{
     background-color: rgb(233, 151, 50);
     
 }