*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(218, 223, 211);
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 3px 3px 8px black;
}

.container .side1,.side2{
    background-color:rgb(241, 105, 105);
    width: 130px;
    height: 70vh;
}

p{
    text-transform: uppercase;
    line-height: 40px;
}

.container .side1,.fig{
    float: left;
}

.container .side2 {
    float: right;
}

.container .footer{
    height: 60px;
    background-color:black;
    color: white;
    font-size: 24px;
}

