*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 200vh;
}

.fixo{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.relativo{
    position: relative;
}

.absouluto{
    position: absolute;
    top: 300px;
    left: 0px !important;
}

.redondo{
    border-radius: 50%;
}

.sticky{
    position: sticky;
    top: 5px;
}

.card{
    display: inline-block;
    border: solid black 2px;
    width: 100px;
    height: 100px;
    margin: 15px 2px 2px 2px;
    /* top,right,bottom,left*/
    /* left: 200px */
}

.sombra{
-webkit-box-shadow: 10px 10px 13px 0px rgb(0, 0, 0);
-moz-box-shadow: 10px 10px 13px 0px rgb(0, 0, 0);
box-shadow: 10px 10px 13px 0px rgb(0, 0, 0);
}

.vermelho{
    background-color: red;
}

.verde{
    background-color: green;
}

.white{
    background-color: white;
    /* width: 45px;
    height: 45px; */
}

.redux{
    width: 50px;
    height: 50px;
}

.amarelo{
    background-color: yellow;
}