div{
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

body{
 margin: 0;
 padding: 0;
}

#div1{
    margin: 0 ;
    padding-left: 80px;
}

#div1 h1{
 /* margin: 20px 20px 0px 20px;  */

 margin:20px;
 margin-bottom: 0px;


 /* margin-top: 20px;
 margin-right: 20px;
 margin-bottom: 20px;
 margin-left: 20px; */
}

#dvLista1{
   background-color: yellow;
}

.fundoVermelho{
   background-color: red;
}

#divMeia{
    border-color: black;
    border-width: 2px;
    border-style: dotted;

    width: 50%;
}

#hTeste{
    border-color: black;
    border-width: 8px;
    border-style: double;

    text-align: center;
}