*{
    margin: 0;
    padding: 0;
}

.caixa{
   
    background-color: red;
    width: 200px;
    height: 200px;
    float: left;
}
p{
    text-align: center;
    
}
.caixa2{
   
    background-color:yellow ;
    width: 200px;
    height: 200px;
    float:right;
}
.caixa3{
    background-color:green ;
    width: 200px;
    height: 200px;
    float: left;
    clear: left;
    margin-top: 525px;
}
.caixa4{
    background-color:rgb(10, 7, 199) ;
    width: 200px;
    height: 200px;
    float:right;
    clear:right;
    margin-top: 525px;

}