*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    display: inline-block;
}


.cabecalho-imagem img{
    margin: 0;
    width: 5%;
}

.cabecalho{
    float: left;
    width: 90%;
    height: 15vh;
}

.cabecalho h1{
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-style: italic;
    padding: 40px;

}

.body1 img{
    width: 100%;
    position: relative;
    right: 60px;
    top: 60px;
    box-shadow: black -10px 10px 20px 0px ;
}

.body1{
    background-color: rgb(255, 64, 6);
    position: absolute;
    width: 20%;
    height: 60vh;
    left: 690px;
    margin: 50px;
}

.body2 h1{
    padding: 35px 100px 27px;
    font-size: 2.2rem;
}

.body2 p{
    padding: 0px 3px 25px;
    font-size: 1.6rem;
}


.body2 h2{
    text-align: center;
    border: solid rgb(0, 0, 0) 1px;
    width: 45%;
    margin: 20px 100px;
    padding: 15px;
    background-color: rgba(251, 0, 0, 0.384);
}

.body2 .botao{
    padding: 15px;
    display: inline-block;
    background-color: rgb(0, 0, 255);
    position: relative;
    left: 80%;
    top: 22%;
    font-size: 30px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
}

.body2{
    margin: 90px;
    height: 50vh;
    width: 25%;
    background-color: rgb(113, 0, 0);
    position: relative;
    left: 53.7vw;
}

.body3{
    position: relative;
}

.body3 img{
    margin-left: 120px;
    padding: 20px;
    width: 85%;
}

.body3-text h1{
    color: rgba(147, 145, 145, 0.988);
    position: absolute;
    left: 370px;
    bottom: 500px;
    margin-left: 250px;
    text-align: center;
    padding: 10px;
    font-size: 3cm;
}

.body3-text .text{
    font-size: 1.4rem;
    color: rgb(27, 249, 6);
    position: absolute;
    bottom: 450px;
    left: 450px;
}

.body3-text .botao{
    background-color: rgb(255, 64, 6);
    color: rgb(0, 0, 0);
    position: absolute;
    right: 940px;
    bottom: 360px;
    padding: 15px;
    border: solid rgb(255, 64, 6)1px;
}

.body4 img{
    width: 35%;
    margin-left: 180px;
    padding: 20px;
}

.body4-text{
    width: 500px;
    display: inline-block;
    position: relative;
    bottom: 180px;
    height: 20vh;
}

.body4-text h1{
    font-size: 3rem;
    padding-top: 20px;
    padding-left: 40px;
}

.body4-text h3 {
    padding-top: 20px;
    padding-left: 20px;
}

.rodape{
    color: rgb(10, 129, 233);
    background-color: rgb(46, 44, 44);
    width: 100%;
    height: 205px;
}

.rodape h3{
    padding: 90px;
    text-align: center;
}